* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  overflow: auto;
}

  /* Navbar */
  .navbar {
    /*display: flex;*/
    margin-bottom: 0;
    border-radius: 0;
    background-color: #4c4c4c;
    color: #fff;
  }

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {
    height: 450px;
    display: flex;
  }

  /* Set background color and 100% height */
  .sidenav {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
    background-color: #ccc;
    max-height: 100%;
    align-items: center;
  }

.container {
  text-align: left;
}

.page-header {
  padding-bottom: 5px;
  border-top: 0;
  margin-top: 5px;
}

  .test {
    background-color: #ccc;
  }

  /* Set background color, text and some padding */
  footer {
    background-color: #4c4c4c;
    color: #fff;
    padding: 15px;
    /*bottom: 0;
    left: 0;*/
    position: relative;
    display: block;
    width: 100%;
  }

  /* On small screens */
  @media screen and (max-width: 680px) {
    .sidenav {
      height: auto;
      /*padding: 15px;*/
      width: 100%;
    }
    .row.content {
      height:auto;
      display: flex;
      flex-direction: column;
  }
  }

  /* On tablet view */
  @media screen and (min-width: 681px) and (max-width: 1024px) {
    .sidenav {
      height: auto;
      padding: 15px;
      width: 100%;
    }
    .row.content {
      /*display: flex;*/
      flex-direction: row;
      height: auto;
      width: 100%;
  }
  }
